*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  clip: rext(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}


.content {
  display: flex;
  gap: 29px;
  width: 100%;
  height: 534px;
  margin: 0 30px;
}

.result {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: 711px;
  height: 456px;
  gap: 16px;
  margin-top: 78px; 
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items:last baseline;
  gap: 40px;
  justify-content: space-between;
  max-height: 54px;
}

.search-form__fieldset {
  align-self: self-end;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.search-form__label {
  align-items: center;
}

.search-form__label-text{
    cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline 1px #FFF;
  text-underline-position: under;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield {
  background-color: transparent;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2.5px 0 2.5px 0;
  border-right: none;
  border-left: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}


.search-form__checkbox-list {
  margin-bottom: 7px;
  line-height: 100%;
  min-width: 212px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid white;
  inline-size: 19px;
  block-size: 19px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  background-color: white;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 5px 0 1px;
}

.button {
  border: 1px solid white;
  background-color: transparent;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
    text-decoration: none;
}


.button:focus-visible{
    outline: 1px solid white;
    outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  padding-top: 3px;
  width: 100%;
  height: 100%;

}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  color: white;
  text-transform: uppercase;
  padding: 0 0 21px 0;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 298px;
  margin: 2px 0 2px 0px;
  padding-left: 2px;
  padding-top: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list-item {
  width: 390px;
  height: 103px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 196px;
  padding-left: 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  color: white;
  margin-top: 5px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  margin-top: 0px;
  margin-right: -1px;
}

.more-button {
  width: 390px;
  height: 34px;
  margin-top: 30px;
  margin-left: 3px;
  margin-bottom: 2px;
}